<form name="input" action="/create" method="post">
	First name: <input type="text" name="contact[first_name]"><br>
	Last name: <input type="text" name="contact[last_name]"><br>
	Phone: <input type="text" name="contact[phone]"><br>
	Email Address: <input type="text" name="contact[email]"><br>
	Legal Issue: <input type="textarea" name="matter[description]"><br>
	<input type="submit" value="Submit">
</form>